<!--- アプリの枠組みを示している ----->
<!DOCTYPE html>
<html lang="ja">
<head>
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
   <title>VegeChecker</title>

</head>
<body class="cover">

  <header>
      <div class="text-white text-center py-5">
          <h1 class="display-4 my-5">
              KANTO EXPRESS<br />
              Vegetable discriminator
          </h1>
              
      </div>
  </header>
  <main>
    <section class="py-5">
        <h2 class="text-center">野菜判別機</h2>
        <h3 class="text-center mb-5">Name of vegetables</h3>
        <p class="text-center">VegeCheckerはディープラーニングで下記10種類の野菜を判別するアプリケーションです。<br>
          にんじん、ジャガイモ、ピーマン、キャベツ、ホウレンソウ、キュウリ、トマト、ナス、セロリ、ブロッコリー。<br>
        デバイス内の野菜画像ファイルを選択して調べてみてください。</p>
        <div class="container text text-center">
            <div class="content">
                <!-- ブロックコンテントがエンドブロックの間に入ることを示している -->
              {% block content %}
              {% endblock %}
          </div>
        </div>
    </section>

</main>

<footer></footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
